$white: #FFF;
$alabaster-gray: #F9F9F9;
$dusty-gray: #9c9c9c;
$black: #000;
$cream-yellow:#fffcd2;
$golden-tainoi-orange: #FDCC52;
$metamask-orange: #fa9c19;
$cosmos-red: #FFD2D2;
$guardsman-red: #d60000;
$red: #FF0000;
$allports-blue: #0076A3;
$aero-blue: #D2FFE6;

$standard-box-shadow: 0 0 2px 2px rgba($black, 0.05);
$dark-box-shadow: 0 1px 1px 1px rgba($black, 0.1);
$dark-blue-shadow: 0 0px 0px 4px rgba($allports-blue, 0.25);