@import '../../styles/variables.scss';

.app {
  height: 100vh;
  width: 100vw;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.app-logo {
  height: 2.2rem;
}

.app-header {
  background-color: $white;
  padding: 0 2rem;
  height: 4.2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-shadow: $standard-box-shadow;

  &__items {
    flex: 1 1 auto;
    width: 0;
    padding: 0 4rem;
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    height: 4.2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__item {
    text-decoration: none;
    color: $black;
    transition: 200ms ease-in-out;
    padding: 1rem 1rem;

    &:hover {
      color: $golden-tainoi-orange;
    }
  }
}

.app-content {
  flex: 1 1 auto;
  height: 0;
}
