@import './styles/variables.scss';

html {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background: $alabaster-gray;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
}

#full-modal:empty {
  display: none;
}

button[disabled] {
  opacity: .3;
  cursor: not-allowed;

  &:hover {
    opacity: .3;
  }

  &:active {
    opacity: .3;
  }
}