.bounty-page {
  background-color: #FFF;
  width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px; }
  .bounty-page__header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 11rem;
    background-color: #0076A3;
    padding: 2rem 3rem;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05); }
  .bounty-page__primary-data {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap; }
  .bounty-page__general-info {
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap; }
  .bounty-page__title {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: .25rem; }
  .bounty-page__subtitle {
    font-size: 1rem; }
  .bounty-page__participants {
    font-size: .8rem;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end; }
  .bounty-page__prize-info {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .bounty-page__prize {
    font-size: 1.5rem;
    font-weight: 400; }
  .bounty-page__prize-text {
    font-size: .8rem; }
  .bounty-page__secondary-data {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .bounty-page__secondary-data__divider {
      height: 4px;
      width: 4px;
      border-radius: 4px;
      background-color: #e2e2e2;
      margin: 0 .75rem; }
  .bounty-page__status {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    font-size: .8rem;
    align-items: center; }
    .bounty-page__status::before {
      content: '';
      position: relative;
      display: inline-block;
      width: .6rem;
      height: .6rem;
      background-color: #CCC;
      border-radius: 50%;
      margin-right: .3rem;
      box-shadow: inset 2px -2px 2px 0px rgba(0, 0, 0, 0.2); }
    .bounty-page__status--initialized::before {
      background-color: #d42d2d; }
  .bounty-page__body {
    display: flex;
    flex-flow: row nowrap; }
  .bounty-page__sidebar {
    width: 12rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .bounty-page__sidebar__item {
      padding: 1rem;
      cursor: pointer; }
      .bounty-page__sidebar__item:hover {
        color: #FDCC52; }
      .bounty-page__sidebar__item:active {
        color: #000; }
      .bounty-page__sidebar__item--active {
        font-weight: 600 !important; }
        .bounty-page__sidebar__item--active:hover {
          color: #000; }
  .bounty-page__content {
    flex: 1 0 auto; }
  .bounty-page__prizes {
    padding: 1rem 2rem; }
    .bounty-page__prizes__row {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem 0 .5rem; }
    .bounty-page__prizes__place {
      flex: 0 0 10%;
      font-weight: 600; }
