@import '../../styles/variables.scss';

.bounty-page {
  background-color: $white;
  width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px;

  &__header {
    flex: 0 0 auto;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 11rem;
    background-color: $allports-blue;
    padding: 2rem 3rem;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: $standard-box-shadow;
  }

  &__primary-data {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
  }

  &__general-info {
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: .25rem;
  }

  &__subtitle {
    font-size: .9rem;
  }

  &__participants {
    font-size: .8rem;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }

  &__prize-info {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &__prize {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__prize-text {
    font-size: .8rem;
  }

  &__secondary-data {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__divider {
      height: 4px;
      width: 4px;
      border-radius: 4px;
      background-color: #e2e2e2;
      margin: 0 .75rem;
    }
  }

  &__admin {
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;

    &__status-wrapper {
      flex: 1 0 auto;
    }

    &__status-title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }

    &__checklist-item {
      position: relative;
      font-size: .8rem;
      padding-bottom: .8rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      line-height: 1rem;

      &::before {
        content: '\002715';
        position: relative;
        display: inline-block;
        color: $red;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1rem;
      }

      &--checked {
        &::before {
          content: '\002714';
          color: #00c700;
        }
      }
    }

    &__actions {
      display: flex;
      flex-flow: column nowrap;
    }

    &__action {
      font-size: .6rem;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #888888;
      color: $white;
      padding: .4rem 1rem;
      border-radius: 3px;
      margin-bottom: .25rem;

      &--red {
        background-color: #f75858;
      }

      &--yellow {
        background-color: #ffb300;
      }

      &--green {
        background-color: #00b563;
      }

      &:hover {
        opacity: .9;
      }

      &:active {
        opacity: 1;
      }
    }

    &__update-bounty-detail-modal {
      top: 4rem;
      bottom: 4rem;
      left: 0;
      right: 0;
      position: fixed;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 0 8px 4px rgba($black, .1);
      display: flex;
      flex-flow: column nowrap;
      width: 600px;
      margin: 0 auto;

      &__header {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: rgba($black, .75);
        color: $white;
        padding: 2rem;
        text-transform: uppercase;
        font-weight: 400;
      }

      &__content {
        padding: 2rem 2rem 0 2rem;
        overflow-y: auto;
      }

      &__row {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: column;

        &__label {
          font-weight: 400;
          padding-bottom: .2rem;
          font-size: .8rem;
          padding-left: .5rem;
        }

        &__input {
          outline: none;
          padding: .5rem;
          font-size: 1rem;
          border-radius: 3px;
          border: 1px solid rgba($black, .2);
        }

        &__textarea {
          outline: none;
          padding: .5rem;
          font-size: 1rem;
          border-radius: 3px;
          border: 1px solid rgba($black, .2);
          height: 15rem;
        }
      }

      &__footer {
        padding: 1rem 2rem;
        border-top: 1px solid rgba($black, .2);

        &__button {
          font-size: .8rem;
          outline: none;
          border: none;
          cursor: pointer;
          background-color: rgba($allports-blue, .9);
          color: $white;
          padding: .8rem 2rem;
          border-radius: 3px;
          width: 100%;

          &:hover {
            background-color: rgba($allports-blue, .8);
          }

          &:active {
            background-color: $allports-blue;
          }
        }
      }
    }
  }

  &__status {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    font-size: .8rem;
    align-items: center;

    &::before {
      content: '';
      position: relative;
      display: inline-block;
      width: .6rem;
      height: .6rem;
      background-color: #CCC;
      border-radius: 50%;
      margin-right: .3rem;
      box-shadow: inset 2px -2px 2px 0px rgba($black, 0.2);
    }

    &--initialized {
      &::before {
        background-color: #d42d2d;
      }
    }
  }

  &__body {
    display: flex;
    flex-flow: row nowrap;
  }

  &__sidebar {
    width: 12rem;
    border-right: 1px solid rgba($black, .1);

    &__item {
      padding: 1rem;
      cursor: pointer;

      &:hover {
        color: $golden-tainoi-orange;
      }

      &:active {
        color: $black;
      }

      &--active {
        font-weight: 600 !important;

        &:hover {
          color: $black;
        }
      }
    }
  }

  &__content {
    flex: 1 0 auto;
    overflow-y: auto;
  }

  &__prizes {
    padding: 1rem 2rem;

    &__row {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem 0 .5rem;
    }

    &__place {
      flex: 0 0 10%;
      font-weight: 600;
    }
  }
}