.bounty-page {
  background-color: #FFF;
  width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
  flex: 1 1 auto;
  height: 0; }
  .bounty-page__markdown {
    padding: 1rem 2rem; }
  .bounty-page__header {
    flex: 0 0 auto;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;
    height: 11rem;
    background-color: #0076A3;
    padding: 2rem 3rem;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
  .bounty-page__header-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); }
  .bounty-page__primary-data {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    z-index: 200; }
  .bounty-page__general-info {
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap; }
  .bounty-page__title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: .25rem; }
  .bounty-page__subtitle {
    font-size: .9rem; }
  .bounty-page__participants {
    font-size: .8rem;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end; }
  .bounty-page__prize-info {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .bounty-page__prize {
    font-size: 1.2rem;
    font-weight: 400; }
  .bounty-page__prize-text {
    font-size: .8rem; }
  .bounty-page__secondary-data {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    z-index: 200; }
    .bounty-page__secondary-data__divider {
      height: 4px;
      width: 4px;
      border-radius: 4px;
      background-color: #e2e2e2;
      margin: 0 .75rem; }
    .bounty-page__secondary-data__info {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
    .bounty-page__secondary-data__actions {
      display: flex;
      flex-flow: row nowrap; }
    .bounty-page__secondary-data__action {
      font-size: .8rem;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: rgba(0, 181, 99, 0.9);
      color: #FFF;
      padding: .8rem 2rem;
      border-radius: 3px; }
      .bounty-page__secondary-data__action:hover {
        background-color: rgba(0, 181, 99, 0.8); }
      .bounty-page__secondary-data__action:active {
        background-color: #00b563; }
  .bounty-page__admin {
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap; }
    .bounty-page__admin__status-wrapper {
      flex: 1 0 auto; }
    .bounty-page__admin__status-title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 1rem; }
    .bounty-page__admin__checklist-item {
      position: relative;
      font-size: .8rem;
      padding-bottom: .8rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      line-height: 1rem; }
      .bounty-page__admin__checklist-item::before {
        content: '\002715';
        position: relative;
        display: inline-block;
        color: #FF0000;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1rem;
        width: .8rem; }
      .bounty-page__admin__checklist-item--checked::before {
        content: '\002714';
        color: #00c700; }
    .bounty-page__admin__actions {
      display: flex;
      flex-flow: column nowrap; }
    .bounty-page__admin__action {
      font-size: .6rem;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #888888;
      color: #FFF;
      padding: .4rem 1rem;
      border-radius: 3px;
      margin-bottom: .25rem; }
      .bounty-page__admin__action--red {
        background-color: #f75858; }
      .bounty-page__admin__action--yellow {
        background-color: #ffb300; }
      .bounty-page__admin__action--green {
        background-color: #00b563; }
      .bounty-page__admin__action:hover {
        opacity: .9; }
      .bounty-page__admin__action:active {
        opacity: 1; }
    .bounty-page__admin__update-bounty-detail-modal {
      top: 4rem;
      bottom: 4rem;
      left: 0;
      right: 0;
      position: fixed;
      background-color: #FFF;
      border-radius: 4px;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-flow: column nowrap;
      width: 600px;
      margin: 0 auto; }
      .bounty-page__admin__update-bounty-detail-modal--update-winners {
        bottom: auto; }
      .bounty-page__admin__update-bounty-detail-modal__error {
        font-size: .8rem;
        color: red;
        text-align: center;
        padding-bottom: 1rem; }
      .bounty-page__admin__update-bounty-detail-modal__header {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #FFF;
        padding: 2rem;
        text-transform: uppercase;
        font-weight: 400; }
      .bounty-page__admin__update-bounty-detail-modal__content {
        padding: 2rem 2rem 0 2rem;
        overflow-y: auto; }
      .bounty-page__admin__update-bounty-detail-modal__row {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: column; }
        .bounty-page__admin__update-bounty-detail-modal__row__label {
          font-weight: 400;
          padding-bottom: .2rem;
          font-size: .8rem;
          padding-left: .5rem; }
        .bounty-page__admin__update-bounty-detail-modal__row__input {
          outline: none;
          padding: .5rem;
          font-size: 1rem;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.2); }
        .bounty-page__admin__update-bounty-detail-modal__row__textarea {
          outline: none;
          padding: .5rem;
          font-size: 1rem;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          height: 15rem; }
      .bounty-page__admin__update-bounty-detail-modal__footer {
        padding: 1rem 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2); }
        .bounty-page__admin__update-bounty-detail-modal__footer__button {
          font-size: .8rem;
          outline: none;
          border: none;
          cursor: pointer;
          background-color: rgba(0, 118, 163, 0.9);
          color: #FFF;
          padding: .8rem 2rem;
          border-radius: 3px;
          width: 100%; }
          .bounty-page__admin__update-bounty-detail-modal__footer__button:hover {
            background-color: rgba(0, 118, 163, 0.8); }
          .bounty-page__admin__update-bounty-detail-modal__footer__button:active {
            background-color: #0076A3; }
  .bounty-page__status {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    font-size: .8rem;
    align-items: center; }
    .bounty-page__status::before {
      content: '';
      position: relative;
      display: inline-block;
      width: .65rem;
      height: .6rem;
      background-color: #CCC;
      border-radius: 50%;
      margin-right: .3rem;
      box-shadow: inset 2px -2px 2px 0px rgba(0, 0, 0, 0.2);
      flex: 0 0 auto; }
    .bounty-page__status--initialized::before {
      background-color: #d42d2d; }
    .bounty-page__status--enrollment_started::before {
      background-color: #00c700; }
    .bounty-page__status--enrollment_end::before {
      background-color: #ffbf00; }
    .bounty-page__status--bounty_start::before {
      background-color: #00c700; }
    .bounty-page__status--bounty_end::before {
      background-color: #ffbf00; }
  .bounty-page__body {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    height: 0;
    background-color: rgba(0, 0, 0, 0.02); }
  .bounty-page__sidebar {
    width: 12rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .bounty-page__sidebar__item {
      padding: 1rem 1rem 1rem 2rem;
      cursor: pointer;
      font-weight: 300; }
      .bounty-page__sidebar__item:hover {
        background-color: rgba(0, 118, 163, 0.1); }
      .bounty-page__sidebar__item:active {
        background-color: rgba(0, 118, 163, 0.2); }
      .bounty-page__sidebar__item--active {
        font-weight: 600 !important;
        background-color: rgba(0, 118, 163, 0.1); }
      .bounty-page__sidebar__item--admin {
        background-color: #fffcd2; }
        .bounty-page__sidebar__item--admin:hover {
          background-color: rgba(255, 252, 210, 0.7); }
        .bounty-page__sidebar__item--admin:active {
          background-color: rgba(255, 252, 210, 0.9); }
  .bounty-page__content {
    flex: 1 0 auto;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap; }
  .bounty-page__prizes {
    padding: 1rem 2rem; }
    .bounty-page__prizes__row {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem 0 .5rem; }
    .bounty-page__prizes__place {
      flex: 0 0 10%;
      font-weight: 600; }
