@import '../../styles/variables.scss';

.upload {
  &__textbox-row {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
  }

  &__textbox-label {
    font-weight: 600;
  }

  &__textbox-wrapper {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-flow: row nowrap;

    textarea {
      flex: 1 0 auto;
      height: 10rem;
      font-size: 1rem;
      padding: .5rem;
      border: 2px solid rgba($black, .1);
      border-radius: 4px;
      outline: none;
      
      &::placeholder {
        color: rgba($black, .3);
      }
    }
  }
}