@import '../../styles/variables.scss';

.bounty {
  width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    position: relative;
    z-index: 200;

    &__tabs,
    &__actions {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    &__tabs {
      flex: 1 1 auto;
    }

    &__tab {
      color: rgba($dusty-gray, .5);
      padding: 1rem 2rem;
      border: 1px solid rgba($dusty-gray, .25);
      margin-right: .5rem;
      width: 6rem;
      cursor: pointer;
      background-color: $alabaster-gray;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      transition: 100ms ease-in-out;
      text-align: center;

      &--active {
        font-weight: 400;
        color: $black;
        background-color: $white;
        border-bottom-color: $white;
      }
    }
  }

  &__create-btn {
    font-size: .8rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgba($allports-blue, .9);
    color: $white;
    padding: .8rem 2rem;
    border-radius: 3px;

    &:hover {
      background-color: rgba($allports-blue, .8);
    }

    &:active {
      background-color: $allports-blue;
    }
  }

  &__content {
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba($dusty-gray, 0.25);
    position: relative;
    top: -1px;
    z-index: 100;

    &--loading {
      text-align: center;
      background-color: $white;
      padding: 2rem 1rem;

      &:before {
        content: '';
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: rgba($allports-blue, .5);
        border-radius: 100%;  
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
      }
    }
  }

  &__bounty-row {
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba($black, .02);
      box-shadow: 0 0 0px 1px rgba($dusty-gray, 0.25);
    }

    &--loading {
      opacity: .5;

      .bounty__bounty-row {

        &__thumbnail {
          background-color: rgba($black, .2);
        }

        &__body {
          padding-right: 2rem;
        }

        &__title {
          background-color: rgba($black, .2);
          height: 1rem;
        }

        &__description {
          background-color: rgba($black, .2);
          height: .8rem;
        }
      }
    }

    &__thumbnail {
      width: 4rem;
      height: 4rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 1rem;
      border-radius: 3px;
    }

    &__body {
      flex: 1 0 auto;
    }

    &__title {
      font-weight: 400;
      font-size: 1rem;
      border-radius: 3px;
      margin-bottom: .25rem;
    }

    &__description {
      font-size: .8rem;
      border-radius: 3px;
    }
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}