@import '../../styles/variables.scss';

.submission {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  height: 0;

  &__tabs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 0 0 auto;
  }

  &__tab {
    color: rgba($dusty-gray, .5);
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid rgba($dusty-gray, .25);
    margin-right: .5rem;
    min-width: 6rem;
    cursor: pointer;
    background-color: $alabaster-gray;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: 100ms ease-in-out;
    text-align: center;

    &--active {
      font-weight: 400;
      color: $black;
      background-color: $white;
      border-bottom-color: $white;
    }
  }

  &__rows {
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba($dusty-gray, 0.25);
    position: relative;
    top: -1px;
    z-index: 100;
    margin-bottom: 2rem;
    flex: 1 1 auto;
    height: 0;
    display: flex;
    flex-flow: column nowrap;
  }

  &__header-row {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    border-bottom: 1px solid rgba($dusty-gray, 0.25);
    flex: 0 0 auto;
  }

  &__header-cell {
    font-size: .8rem;
    font-weight: 400;
    padding: .5rem 1rem;

    &--sender {
      flex: 0 0 20%;
    }

    &--timestamp {
      flex: 0 0 30%;
    }

    &--result {
      flex: 1 1 auto;
    }
  }

  &__header-cell + &__header-cell {
    border-left: 1px solid rgba($dusty-gray, 0.25);
  }

  &__body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: .5rem 0;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:hover {
      background-color: rgba($black, .05);
    }
  }

  &__cell {
    font-size: .8rem;
    padding: .5rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &--sender {
      flex: 0 0 20%;
    }

    &--timestamp {
      flex: 0 0 30%;
    }

    &--result {
      flex: 1 1 auto;
      flex-flow: row nowrap;
      justify-content: center;

      button {
        font-size: .6rem;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: rgba($allports-blue, .6);
        color: $white;
        padding: .4rem 2rem;
        border-radius: 3px;

        &:hover {
          background-color: rgba($allports-blue, .5);
        }

        &:active {
          background-color: rgba($allports-blue, .7);
        }
      }
    }
  }

  &__empty-results {
    text-align: center;
    padding: 2rem;
  }
}